name: CI - Testes e Qualidade

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Recomendo focar na 3.10+ para agilizar, a menos que precise de retrocompatibilidade
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest "black[jupyter]" reportlab
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Check formatting (Black)
      run: black . --check
      continue-on-error: true # Não trava o build por causa de espaços/aspas

    - name: Analysing the code (Pylint)
      run: |
        # Resolve o erro de import E0401
        export PYTHONPATH=$PYTHONPATH:.
        pylint $(git ls-files '*.py') --fail-under=8.0

    - name: Run Tests (Pytest)
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        pytest
