name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint "black[jupyter]"
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Check formatting with Black
      run: |
        black . --check  # Verifica se o código está formatado
      continue-on-error: true
    - name: Analysing the code with pylint
      run: |
        # O Pylint retornará 0 (sucesso) se a nota for igual ou maior que 8.0
        pylint $(git ls-files '*.py') --fail-under=8.0
